.content{
    position: relative;
}

/*商品列表*/
.content .shop-list{
    padding:0 1.84rem;
    overflow: hidden;
}
.content .shop-list .list .title{
    position: relative;
    text-align: center;
    height: 1.18rem;
    padding-top: .53rem;
    box-sizing: border-box;
}
.content .shop-list .list .title p{
    font: .14rem "微软雅黑",Arial, sans-serif;
    color: #959595;
}
.content .shop-list .list .title .yo{
    padding:0 .15rem;
    position: relative;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
}
.content .shop-list .list .title .yo p:first-child{
    font: .18rem "微软雅黑",Arial, sans-serif;
}
.content .shop-list .list .title::after{
    content: '';
    display: block;
    position: absolute;
    border-bottom: 0.01rem solid #000;
    width: 1.97rem;
    top: 60%;
    left: 50%;
    transform: translate(-50% , 50%);
}
.content .shop-list .list .list-one{
    display: block;
    padding:0 .35rem;
}
.content .shop-list .list .list-one ul{
    display: block;
}
.content .shop-list .list .list-one ul::after{
    content: '';
    display: block;
    clear: both;
}
.content .shop-list .list .list-one ul li{
    width: 24%;
    float: left;
    margin: .32rem 0;
    box-sizing: border-box;
}
.content .shop-list .list .list-one ul li a{
    font: .12rem "微软雅黑",Arial, sans-serif;
    color: #000;
    display: block;
    text-align: center;
}
.content .shop-list .list .list-one ul li p{
    text-align: center;
}
.content .shop-list .list .list-one ul li img{
    width: 1.80rem;
    height: 1.34rem;
    margin-bottom:.35rem;
}
.content .shop-list .list .more{
    display: block;
    text-align: center;
    margin:.30rem 0;
    width: 100%;
}
.content .shop-list .list .more a{
    display: inline-block;
    width: 1.19rem;
    height: .45rem;
    border: .01rem solid #a0a0a0;
    box-sizing: border-box;
    font: .14rem "微软雅黑",Arial, sans-serif;
    color: #a8a8b7;
    line-height: .43rem;
    text-align: center;
}
.content .shop-list .item img{
    width: 100%;
}
/*图片展示*/
.content .shop-list table{
    margin-bottom:.20rem;
    height: 5.85rem;
    width: 100%;
    overflow: hidden;
}
.content .shop-list table tr td{
    width: 3.28rem;
    height: 2.92rem;
    border: .01rem solid white;
    box-sizing: border-box;
}
.content .shop-list table tr td img{
    width: 100%;
    height: 100%;
}
.content .shop-list table .rows{
    height: 100%;
}

.content .shop-list .pic-list{
    position: relative;
}
.content .shop-list .pic-list::after{
    content: '';
    display: block;
    clear: both;
}
.content .shop-list .pic-list .pic-list-left{
    float: left;
    width: 66.6%;
    box-sizing: border-box;
}
.content .shop-list .pic-list .pic-list-left ul{
    display: block;
}
.content .shop-list .pic-list .pic-list-left li{
    /*width: 50%;*/
    display: inline-block;
    box-sizing: border-box;
}
.content .shop-list .pic-list .pic-list-left li img{
    width: 3.29rem;
    height: 2.93rem;
}
.content .shop-list .pic-list .pic-list-right{
    float: left;
    width: 33.4%;
    box-sizing: border-box;
    overflow: hidden;
}
.content .shop-list .pic-list .pic-list-right img{
    width: 3.42rem;
}
/*适应性配置*/
@media screen and (max-device-width: 960px) and (min-device-width: 320px){
    .content .shop-list .list .list-one ul li{
        width: 50%;
        display: inline-block;
        margin: .32rem 0;
        box-sizing: border-box;
    }
}

